<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http create-session="never" use-expressions="false" auto-config="false"
        entry-point-ref="authenticationEntryPoint">
        <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_USER" />
        <custom-filter position="PRE_AUTH_FILTER" ref="preAuthFilter"/>
        <!-- Required for Tomcat, will prompt for username / password twice otherwise -->
        <session-management session-fixation-protection="none"/>
    </http>

    <!-- In the Pre-auth case, this isn't really the entry point normally, but it will be invoked if some other Spring
      Security filter throws an un-authorised exception  -->
    <beans:bean id="authenticationEntryPoint"
        class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

    <!-- Pulls the roles out of web.xml -->
    <beans:bean id="webXmlRolesParser"
        class="org.springframework.security.web.authentication.preauth.j2ee.WebXmlMappableAttributesRetriever"/>

    <!-- Maps the web.xml roles into Spring Security's GrantedAuthorities -->
    <beans:bean id="roles2AuthoritiesMapper"
        class="org.springframework.security.core.authority.mapping.SimpleAttributes2GrantedAuthoritiesMapper">
        <beans:property name="attributePrefix" value=""/>
    </beans:bean>

    <!-- Creates the authentication details object (which includes the GrantedAuthorities) -->
    <beans:bean id="authDetailsSource"
        class="org.springframework.security.web.authentication.preauth.j2ee.J2eeBasedPreAuthenticatedWebAuthenticationDetailsSource">
        <beans:property name="mappableRolesRetriever" ref="webXmlRolesParser"/>
        <beans:property name="userRoles2GrantedAuthoritiesMapper" ref="roles2AuthoritiesMapper"/>
    </beans:bean>

    <!-- Builds a UserDetails object from the authenticated Principal and GrantedAuthorities -->
    <beans:bean id="userDetailsService" class="uk.co.b2esoftware.PreAuthUserDetailsService"/>

    <!-- Calls the UserDetails service and performs minimal checks, before creating a valid Authentication -->
    <beans:bean id="preAuthAuthenticationProvider"
        class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <beans:property name="preAuthenticatedUserDetailsService" ref="userDetailsService"/>
    </beans:bean>

    <!-- The AuthenticationManager sees if any of its Providers can return a fully populated Authentication -->
    <authentication-manager alias="authenticationManager">
        <!-- List of available providers -->
        <authentication-provider ref="preAuthAuthenticationProvider"/>
    </authentication-manager>

    <!-- This defines the filter that kicks off the pre-auth "Authentication" process -->
    <beans:bean id="preAuthFilter"
        class="org.springframework.security.web.authentication.preauth.j2ee.J2eePreAuthenticatedProcessingFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationDetailsSource" ref="authDetailsSource"/>
    </beans:bean>

</beans:beans>